# Ignore the vendor directory
vendor/

# Ignore all markdown files except README.md and BENCHMARKS.md
*.md
!README.md
!BENCHMARKS.md

# Executables and debug files
build/
*.exe
*.pdb
*.bin
!*test_*.png

# strudel designs
*.strudel

# images
test_*.png