# Ignore the vendor directory
vendor/

# Ignore all markdown files except README.md
*.md
!README.md
!BENCHMARKS.md

# Executables and debug files
build/
*.exe
*.pdb
*.bin
**test*/**

# strudel designs
*.strudel